@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: white;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.movie--lists {
    margin-top: -50px;
}

.loading {
    background-color: black;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}